<% if @booknew.errors.any? %>
  <div class="alert">
    <div><strong><%= pluralize(@booknew.errors.count, "error") %> prohibited this book from being saved:</strong></div>
    <ul>
      <% @booknew.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>